<head>
    <title> Movie Finder </title>
    <link rel="icon" href="movieicon.png">
    <link rel="stylesheet" type="text/css" href="/base.css"></link>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>

<h1 id="headerTitle"> • Movie Finder • </h1>
<h2 id="description"></h2>

<div id="search">
    <form action="/results" method="GET">
        <input type="text" placeholder="Search movie" name="search">
        <input type="submit"> 
    </form>
</div>

